.container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container span {
    font-size: 22px;
    margin-top: 30px;
}